<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>이름</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="client : ${clients}">
        <td th:text="${client.id}"></td>
        <td th:text="${client.name}"></td>
        <td th:text="${client.studentNumber}"></td>
        <td th:text="${client.age}"></td>
        <td th:text="${client.pwd}"></td>

      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>